<header class="container">
  <div class="headerbox">
    <h2 class="logo">
      <%= link_to "野球まとめのまとめ", "/" %>
    </h2>
  </div>
</header>

<div class="container">
  <div class="feedcontainer">
    <% @channels.each do |channel| %>
      <div class="contentsbox">
        <div class="sitename">
          <%= link_to channel.title, channel.url %>
        </div>
        <div class="rssitems">
          <ul>
            <% channel.items.first(5).each do |item| %>
              <li>
                <%= link_to item.title, item.url, target: :_blank, rel: "noopener noreferrer" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<footer class="container">
  <div class="footerbox">
    test
  </div>
</footer>