<div class="container">
  <div class="results-box">
    <% if @feeds.present? %>
      <%= render 'layouts/presence' %>
    <% else %>
      <%= render 'layouts/absence' %>
    <% end %>
  </div>
</div>


