
h1 {
  font-weight: bold;
}

.box {
  width: 33%;
  font-size: 0.7em;
  border: 0.5px solid black;
  padding: 3px;
  margin: 0 3px 0 3px;
  background-color: blanchedalmond;
  li {
    padding-bottom: 2px;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.site_title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
