
h1 {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.col-md-4 {
  font-size: 0.8em;
  border: 0.5px solid white;
  background-color: beige;
  .site_title {
    font-weight: bold;
    font-size: 1.2em;
  }
  li {
    padding: 1px 0 1px 0;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}



